/*
  https://github.com/yhegazy
  Yahia Hegazy
  Production Date: 20210410
  Supports most mobile & tablet views

*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*! Base colors */
.mbr-white {
  color: #ffffff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.mbr-black {
  color: #000000;
}

.mbr-bg-white {
  background-color: #ffffff;
}

.mbr-bg-black {
  background-color: #000000;
}

/*! Text-aligns */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*! Font-weight  */
.mbr-light {
  font-weight: 300;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}
  .article .lead p,
  .article .lead ul,
  .article .lead ol,
  .article .lead pre,
  .article .lead blockquote {
    margin-bottom: 0;
  }
  
  ul,
  ol,
  pre,
  blockquote {
    margin-bottom: 2.3125rem;
  }
  

  a, a:hover {
    text-decoration: none;
  }
  
    body {
    color: #232323;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .display-1,
  .display-2,
  .display-3,
  .display-4 {
    line-height: 1.25;
    word-break: break-word;
    word-wrap: break-word;
  }

  .modal {
    display: flex !important;
    text-align: center;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: left;
    margin-right: -4px;
  }
  .modal-dialog {
    margin: auto;
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border-style:none
}

 .center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }


 .accordion > .card{   
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
    
 }

 
.mobile-tablet-image-position {
  background-image: url("./images/fcm.jpg");
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.bg-dark-mode {
  background-color: #343b40;
}

.bg-light-mode {
  background-color: white;
}
 
 .why {
   /* A: Layout breaks without it */
  width: 100%;
  height: 100%;
  position: absolute;
 }






 /* Media Queries */
@media(max-width:768px){
  .max-width-768px, .display-4{
    font-size: xx-large;
  }

  .max-width-768px, h5 {
    font-size: large;
  }
}

@media(max-width:720px){
  .max-width-720px, .display-4{
    font-size: xx-large;
  }
  .max-width-720px, h5 {
    font-size: large;
  }
  .max-width-720px, .navbar-brand, .nav-link { 
    font-size: medium
  }
  .max-width-720px, .mobile-tablet-image-position {
    position:static;
  }

  .max-width-720px, .container, tbody, .table-bordered, .h4, td {
    font-size: medium;
  }
}


 @media(max-width:540px){
  .max-width-540px, .display-4{
    font-size: xx-large;
  }

  .max-width-540px, .mobile-tablet-image-position {
    position:static;
  }
}

@media(max-width:414px){
  .max-width-414px, .display-4{
   font-size: x-large;
  }
  .mobile-tablet-image-position {
    position:static;
  }
}


@media (max-width:411px){
  .mobile-tablet-image-position {
    position:static;
  }

  .max-width-411px, .h4 {
    font-size:small;
  }

  .max-width-411px, .display-3, .display-4{
    font-size:x-large;
  }
  
  .max-width-411px, .navbar-brand, .nav-link {
    font-size: 5vw
  }
}

@media (max-width:360px){
  .max-width-360px, h4{
    font-size: medium;
  }

  .max-width-360px, .h4{
    font-size: x-small;
  }

  .max-width-360px, .display-4{
    font-size:x-large;
  }
  .max-width-360px, .navbar-brand, .nav-link {
    font-size: 5vw
  }
  
}

@media (max-width:320px){
  .max-width-320px, h4{
    font-size: medium;
  }

  .max-width-320px, .h4{
    font-size: x-small;
  }

  .max-width-320px, .navbar-brand {
    font-size: 5vw
  }

  .max-width-320px, .display-4{
    font-size:x-large;
  } 

  .max-width-320px, .display-7{
    font-size: medium
  }
}






  

